<section class="max-w-4xl mx-auto">
  <div
    class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-lime-600"
  >
    <div
      class="flex flex-shrink-0 items-center justify-center rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
    >
      <h5
        class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
        id="exampleModalLabel"
      >
        All Test Count
      </h5>
    </div>
    <div class="relative flex-auto p-4" data-te-modal-body-ref>
      <div class="w-full mx-auto">
        <!-- Add Test Form -->
        <form #form="ngForm" (ngSubmit)="onTestCountFormSubmit()">
          <div class="flex md:flex-row flex-col gap-2 md:gap-5 mb-2 md:mb-0">
            <!--From input-->
            <div
              class="w-full relative mb-1 md:mb-3"
              id="FromDate-disable-future"
              data-te-format="yyyy-mm-dd"
              data-te-datepicker-init
              data-te-input-wrapper-init
            >
              <label
                for="FromDate"
                class="absolute left-3 top-0 max-w-[90%] origin-[0_0] translate-y-[-0.7rem] scale-[0.8] text-primary bg-white px-2 z-10"
                >From Date
              </label>
              <input
                autocomplete="off"
                type="text"
                class="block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none relative"
                placeholder="From Date"
                id="FromDate"
                name="FromDate"
                [(ngModel)]="modelTestCount.FromDate"
                (focus)="resetCompanies()"
              />
            </div>
            <!--To input-->
            <div
              class="w-full relative mb-1 md:mb-3"
              id="ToDate-disable-future"
              data-te-format="yyyy-mm-dd"
              data-te-datepicker-init
              data-te-input-wrapper-init
            >
              <label
                for="ToDate"
                class="absolute left-3 top-0 max-w-[90%] origin-[0_0] translate-y-[-0.7rem] scale-[0.8] text-primary bg-white px-2 z-10"
                >To Date
              </label>
              <input
                autocomplete="off"
                type="text"
                class="block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none relative"
                placeholder="To Date"
                id="ToDate"
                name="ToDate"
                [(ngModel)]="modelTestCount.ToDate"
                (focus)="resetCompanies()"
              />
            </div>
          </div>

          <div class="flex gap-2">
            <!--Submit button-->
            <button
              class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
              type="submit"
              data-te-ripple-init
              data-te-ripple-color="light"
              style="
                background: linear-gradient(
                  to right,
                  #82f3e7,
                  #6ff1aa,
                  #4ef356,
                  #4cd389
                );
              "
            >
              Show Count
            </button>
            <!--Reset button-->
            <button
              (click)="resetTestCountForm()"
              class="mb-3 inline-block w-1/5 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              style="
                background: linear-gradient(
                  to right,
                  #82f3e7,
                  #6ff1aa,
                  #4ef356,
                  #4cd389
                );
              "
            >
              Reset
            </button>
          </div>
        </form>

        <!-- Company Wise Test Count -->
        @if(companies){
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <h3 class="text-center font-bold border-b-2 border-gray-500">
                Company Wise Total Test Count
              </h3>
              <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                  <thead
                    class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-lime-600"
                  >
                    <tr class="text-center">
                      <th scope="col" class="px-6 py-1">Company ID</th>
                      <th scope="col" class="px-6 py-1">Company Name</th>
                      <th scope="col" class="px-6 py-1">Total Test Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(data of companies; track data.id){
                    <tr
                      class="border-b bg-lime-100 dark:border-neutral-500 dark:bg-lime-700 text-center"
                    >
                      <td class="whitespace-nowrap px-6 py-1">
                        {{ data?.id.slice(1, data?.id.length + 1) }}
                      </td>
                      <td class="whitespace-nowrap px-6 py-1">
                        {{ data?.name }}
                      </td>

                      <td class="whitespace-nowrap px-6 py-1">
                        {{ data?.count }}
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div
      class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
    ></div>
  </div>
</section>
